{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
    <head>
        <link rel="stylesheet" href="/css/article.css">
        <link rel="stylesheet" href="/css/hover.css">
    </head>
    <div class="card">
        <div class="title">
            <p class="title-text">{{.Title}}<span>&#160;</span></p>
        </div>
        {{range .Articles}}
            {{ if .Image}}
                <img src={{.Image}}>
            {{end}}
            <div class="container">
                {{ if .Title}}
                    <h2>{{.Title}}</h2>
                {{end}}
                {{range .Content}}
                    <p>{{.}}</p>
                {{end}}
                
            </div>
        {{end}}
        <div class="tooltip"><i class="fas fa-book-open"></i>
            <span class="tooltiptext">
                <p class="line" style="font-size: 15px;">Reference : </p>
                <p class="line" style="font-size: 15px;color: gold;">Geoheritage Atlas of Iran</p>
                <p class="line">Written and photographed by :</p>
                <p class="line" style="font-size: 15px;color: gold;">Alireza Amirkazemi</p>
                <p class="line">Ministry of Industries and Mines</p><p class="line">Geological Survey of Iran</p>
            </span>
        </div>
    </div>

{{end}}