{{define "attractionItem"}}
    <head>
        <link rel="stylesheet" href="web/stylesheets/attractionItem.css">
    </head>
    <div class="box">
        <div class="title">
            <a class="link" href={{.Link}}><h4>{{.Title}}</h4></a>
        </div>
        <div class="flexbox">
            {{if .Image}}
                <img class="image" src={{.Image}}>
            {{else}}
                <img class="image" src="web/images/no-image.png">
            {{end}}
            <div class="text">
                {{.ShortContent}}
            </div>
        </div>
    </div><br>

{{end}}