{{define "attractionItem"}}
    <head>
        <link rel="stylesheet" href="/css/attraction_item_grid.css">
    </head>
    <div class="card">
        <div class="header">
            <a class="st-link" href={{.Link}}><h4>{{.Title}}</h4></a>
        </div>
        <div class="image">
            {{if .Image}}
                <img class="image" style="width: 100%;" src={{.Image}} onerror="handle_image_not_found(this)">
            {{else}}
                <img class="image" tyle="width: 100%;" src="web/images/no-image.png">
            {{end}}
            <div class="card-container">
                <table class="st-info">
                    <tr>
                        <th>Significance</th>
                        <th> | </th>
                        <td>{{.Significance}}</td>
                    </tr>
                    <tr>
                        <th>Province</th>
                        <th> | </th>
                        <td>{{.Province}}</td>
                    </tr>
                    <tr>
                        <th>Accessibility</th>
                        <th> | </th>
                        <td>{{.Accessibility}}</td>
                    </tr>
                </table>
            </div>
        </div>
        
        
        
    </div>
    <script src="/js/glob_functions.js"></script>
{{end}}