{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/attraction.css">
    <script src="/js/bootstrap.min.js"></script>
    <div>
        <div class="st-container">
            <div class="st-general-info">
                <table class="st-info">
                    <tr>
                        <th>Province</th>
                        <th> | </th>
                        <td>{{.Province}}</td>
                    </tr>
                    <tr>
                        <th>Significance</th>
                        <th> | </th>
                        <td>{{.Significance}}</td>
                    </tr>
                    <tr>
                        <th>Phenomena</th>
                        <th> | </th>
                        <td>{{.Phenomena}}</td>
                    </tr>
                    <tr>
                        <th>Accessibility</th>
                        <th> | </th>
                        <td>{{.Accessibility}}</td>
                    </tr>
                    <tr>
                        <th>Season To Visit</th>
                        <th> | </th>
                        <td>{{.SeasonsToVisit}}</td>
                    </tr>
                </table>
                <img src="{{.MapImage}}" class="st-map">

            </div>

            <div class="st-content">
                <h1>{{.Title}}</h1>
                {{range .Content}}
                    <p>{{.}}</p><br>
                {{end}}
            </div>
        </div>
        <div class="st-gallery">
            <h1 class="alert alert-warning ">Gallery</h1>
            <div class="d-flex justify-content-around align-items-center flex-wrap">
                {{range .Gallery}}
                    <div class="st-image-holder">
                        <img class="st-image" src={{.Src}} alt="" onclick="openURL({{.Src}})">
                        <div class="st-caption">{{.Caption}}</div>
                    </div>
                        <!--<div class="st-view"><a class="st-link"> View Image</a></div>-->
                {{end}}
            </div>
        </div>

    </div>
    <script src="/js/openURL.js"></script>


{{end}}