{{define "title"}}Attractions{{end}}
{{define "content"}}
    <head>
        <link rel="stylesheet" href="/css/attractionsList.css">
    </head>
    
    
    <div class="item-bar">
        <button id="start" class="item-text" value="erosion" onclick="display(this)">Erosional({{.Erosion.Count}})</button>
        <button id="end" class="item-text" value="sedimentary"  onclick="display(this)">Sedimentary({{.Sedimentary.Count}})</button>
    </div>
    <div class="container" id="erosion">
        {{if .Erosion.Count}}
            {{range .Erosion.Attractions}}
                {{block "attractionItem" .}}{{end}}
            {{end}}
        {{else}}
            <h1 class="not-found">No result</h1>
        {{end}}
    </div>
    <div class="container" id="sedimentary">
        {{if .Sedimentary.Count}}
            {{range .Sedimentary.Attractions}}
                {{block "attractionItem" .}}{{end}}
            {{end}}
        {{else}}
            <h1 class="not-found">No result</h1>
        {{end}}
    </div>
    <script src="/js/attractionList.js"></script>
{{end}}
