{{define "title"}}Home{{end}}
{{define "content"}}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/index.css">

    <div class="slideshow">
        <div class="slide" id="slide1">
            <img src="/img/slide-background1.jpg" class="slide-background">
            <div class="slide-text">
                
                <p class="slide-show-text">Iran&nbsp;</p>
                <p id="text1">Geotourism</p>
                <br>
                <div id="text2"><i class="	fas fa-map-marker-alt slide-show-icon"></i>&nbsp;<a class="st-link" href="/articles/everest">Everest Mountain</a></div>
                
            </div>
        </div>
        <div class="slide" id="slide2">
            <img src="/img/slide-background3.jpg" class="slide-background">
            <div class="slide-text" id="slide-text-3">
                
                <p id="text1">Enjoy your life by travelling</p>
                <br>
                <div id="text2"><i class="	fas fa-map-marker-alt slide-show-icon"></i>&nbsp;Jungle</div> 
                
            </div>
        </div>
        <div class="slidebutton" id="slideleft" onclick="plusDivs(-1)">&#10094;</div>
        <div class="slidebutton" id="slideright" onclick="plusDivs(1)">&#10095;</div>
        
    </div>



    <div class="layout">
        <div class="layout-image">
            <img src="/img/slide-background2.jpg" class="slide-background">
            <div class="slide-text" id="slide-text-2">
                
                <p id="text1">" You can't find world in books "</p>
                <br>
                <div id="text2" ><i class="	fas fa-map-marker-alt slide-show-icon"></i>&nbsp;Lut Desert</div> 
                
            </div>
        </div>
        <div class="description-box">
            <div class="description" id="attraction">
                <div class="description-text"><a class="st-link" href="/attractions">Attractions</a></div>
            </div>
            <div class="description" id="landmarks">
                <div class="description-text"><a class="st-link" href="">Land Marks</a></div>
            </div>
            <div class="description" id="relax">
                <div class="description-text"><a class="st-link" href="">Relax</a></div>
            </div>
        </div>
        <div class="description-text-box">
            <div class="content">
                Here Are some Text For Our Awesome Website
            </div>
        </div>
    </div>
    <script src="/js/slideshow.js"></script>

{{end}}