.box{
    background-color: #F2F1F3;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 2%;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.image{
    width: 20%;
}
.text{
    width: 79%;
    font-family: karla;
    padding: 0;
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.6);
    width: calc(80% - 50px);
    text-align: justify;
    text-justify: inter-word;
}
.title{
    color: rgba(0, 0, 0, 0.8);
    font-size: 100%;
    white-space: normal;
    width: 100%;
}