.st-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap : nowrap;
    padding: 5%
}
.st-general-info{
    font-family: roboto;
    padding-right: 2%;
    text-align: center;
    border-right: 1px solid goldenrod;
    display: inline-block;
}
.st-info{
    display: block;
    white-space: nowrap;
    margin-right: auto;
}
.st-info th{
    font-size: 16px;
    color: goldenrod;
    font-weight: bold;
    text-align: right;
}
.st-info td{
    font-size: 16px;
    text-align: left;

}
.st-content{
    font-family: roboto;
    padding: 2% 2%;
}
.st-content h1{
    font-weight: bold;
    font-family: roboto;
}
.st-content p{
    text-align: justify;
    text-justify: inter-word;
}
.st-map{
    width: 90%;
    margin-top: 2%;
    float: left;
}
.st-image-holder{
    width: 30%;
    position: relative;
    margin-bottom: 1%;
    margin-right: 1%;

}
.st-image{
    width: 100%;
    border-radius: 3px;
    transition: 0.3s;
}
.st-image:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    /*opacity: 0.5;*/

}
/*.st-view{
    display: none;
    position: absolute;
    color: black;
    font-family: roboto;
    font-size: 16px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: 0.3s ;
}
.st-image:hover ~ .st-view{
    display: block;
}*/

.st-caption{
    font-size: 16px;
    font-family: roboto;
    position: absolute;
    bottom: 2%;
    left: 2%;
    background-color: rgba(0,0,0,0.8);
    color: rgba(225,225,225,0.8);
    padding: 0 1em;
    border-radius: 2px;
}
.st-gallery{
    padding : 5%;
}
@media only screen and (max-width : 800px){
    .st-container{
        flex-wrap: wrap;
    }
    .st-info{
        display: inline;
        margin-top: auto;
        float: right;
    }
    .st-map{
        width: 30%;
        display: inline;
        float: left;
        margin-top: auto;
    }
    .st-general-info{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid goldenrod;
        padding: 0;
        padding-bottom: 1%;
    }
    .st-content{
        width: 100%;
    }


}
@media only screen and (max-width : 550px){
    .st-info{
        float: none;
        margin-right: auto;
    }
    .st-info th , .st-info td{
        font-size: 12px;
    }
    .st-map{
        float: none;
        width: 90%;
        margin-right: auto;
        margin-top: 1%;
    }
    .st-image-holder{
        width: 100%;
    }


}