.line{    
    white-space: nowrap;
    float: left;
    height: min-content;
    margin: 0;
    padding: 0;
}
.tooltip {
    color: darkgoldenrod;
    font-size: 30px;
    margin-left: 5%;
    font-family: karla;
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {

    font-family: karla;
    font-size: 12px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 110%;
    transform: translate(10% , 50%);
    /*margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}