.st-navbar{
    background-color: goldenrod;
    /*background-image: url("/gif/rainy.gif");
    background-size: cover;
    background-repeat: no-repeat;*/
    width: 100%;
    height: 15%;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 90;
    transition: 0.5s;
}
#navbar-logo{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5% , -50%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: 0.5s;
    display: none;
}
#navbar-icon{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5% , -50%);
    border-radius: 50%;
    font-size: 50px;
    color: rgba(0 , 0 , 0 , 1);
    transition: 0.5s;
}
.st-button-group{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    display: flex;
    width: 50%;
    height: 70%;
    left: 0%;
    top: 50%;
    transform: translate(5% , -50%);
    justify-content: space-around;
    align-items: center;
}
.st-navbar-button{
    background-color: rgba(0, 0, 0, 0);
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    transition: 0.5s;
    font-family: karla;
    outline: none;
    font-weight: bold;
}
.st-navbar-button:hover{
    color: black;
}

.st-link{
    text-decoration: none;
    color: inherit;
}
.st-link:hover{
    color: inherit;
    text-decoration: none;
}
@media only screen and (max-width: 800px){
    #navbr-icon{
        font-size: 30px;
    }
}
@media only screen and (max-width: 600px){
    #navbar-icon{
        display: none;
    }
    .st-button-group{
        width: 80%;
    }
    .st-navbar-button{
        font-size: 16px;
    }
}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .st-navbar-button{
        font-size: 14px;
    }
    .st-navbar{
        height: 10%;
    }
}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .st-navbar-button{
        font-size: 10px;
    }
}